@page "/employes"
@using DBGestaoEmpresarial.WebUI.Server.Components.Pages
@using DBGestaoEmpresarial.WebUI.Server.Components.Layout
@using System.Linq

 <h3>New Employe</h3>
 <div>
      <NewEmploye></NewEmploye>

      <div>
          <ListEmployes></ListEmployes>
      </div>
 </div>
 
  
<div>

</div>

@code {
    // Você pode adicionar lógica aqui, se necessário
}
