@page "/add-employe"

<PageTitle>New Employe</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <EditForm Method="post" FormName="NewEmploye" OnValidSubmit="AddEmploye" Model="newEmploye">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div>
                <label>Name:</label>
                <InputText id="titulo" @bind-Value="newEmploye.Name" class="form-control" />
            </div>

            <div>
                <label>Cargo</label>
                <InputSelect class="form-control" @bind-Value="newEmploye.IdCargo">
                    <option value="0">Selecione o Cargo</option>
                    <option value="1">Funcionario</option>
                    <option value="2">Gerente</option>
                    <option value="3">Vice-Lider</option>
                </InputSelect>
            </div>

            <div>
                <label>Salario</label>
                <InputNumber class="form-control" @bind-Value="newEmploye.Salario" />
            </div>

            <div>
                <label>Ativo</label>
                <InputCheckbox class="form-control" @bind-Value="newEmploye.Ativo" />
            </div>

            <button type="submit">Add Employee</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm(FormName = "NewEmploye")]
    public Employe newEmploye { get; set; }

    protected override void OnInitialized()
    {
        newEmploye ??= new Employe("", 0, 0, true);
    }

    public async Task AddEmploye()
    {
        Console.WriteLine($"Name: {newEmploye.Name}"); // Verifique o valor aqui
       await employeRepository.AddEmploye(newEmploye);
    }
}
